
nav {
    display: flex;
    background-color: black;
    width: 100%;
    top: 0;
    justify-content: center;
}

nav a {
    display: block;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    text-align: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

nav a:hover {
    background-color: #efefef;
    color: black;
}

.active {
    border-bottom: 1px solid yellow;
}

header {
    margin-top: 70px;
    margin-bottom: 100px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

main {
    max-width: 1250px;
    margin: 0 auto;
    /*justify-items: center;*/
}

#logo {
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

#logo-box, #button-box {
    text-align: center;
}

.container, #welcome {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#game-container {
    text-align: center;
    grid-column: 1/2;
}

#instructions {
    background-color: lightgray;
    font-size: 1em;
    padding: 20px;
}

h1, h4 {
    color: #333;
    text-align: center;
}

.bold {
    font-weight: bold;
}

#hint {
    font-size: 1.2em;
}

label {
    font-size: 1.2em;
}

#guess {
    padding: 5px;
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: black;
    color: #fff;
    border-radius: 10%;
    cursor: pointer;
}

button:hover {
    background-color: yellow;
    color: #666;
}

#play {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border-radius: 10%;
    cursor: pointer;
    margin: 10px auto;
}

#play:hover {
    background-color: yellow;
    color: #666;
}

#result {
    font-size: 1.2em;
    color: #333;
}

#counter, #time {
    font-size: 1.1em;
    color: #666;
    margin-top: 10px;
}

aside {
    max-width: 600px;
    margin: 50px auto;
    background-color: grey;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-column: 2/3;
}

footer {
    background-color: #444;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    bottom: 0;
}